.accordion {
  box-sizing: inherit;
}

.accordion__title {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-family: 'FuturaBookC-Bold';
  font-size: 20px;
  text-align: center;
}

.accordion__item {
  box-sizing: inherit;
  margin-bottom: 14px;
  border-radius: 10px;
}

.accordion__header {
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
  font-family: 'FuturaBookC-Bold';
  background: linear-gradient(#fff, #BDC0FF);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  height: 87px;
}

.accordion__header::after {
  box-sizing: inherit;
  border-radius: 50%;
  background-color: #757AEF;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin-left: auto;
  background-image: url(./../images/icon-accordion-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  transition: transform 0.2s ease-out;
}

.accordion__body {
  padding: 14px;
  background-color: #fff;
}

.accordion__body p {
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
  font-size: 16px;
}

.accordion__body p:first-child {
  margin-top: 0;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
  background-color: #fff;
  background-image: url(./../images/icon-accordion-arrow-up.svg);
}

.accordion__header:hover {
  background-color: #0b5ed7;
}

.accordion__item_show .accordion__header {
  background: linear-gradient(#969AF7, #686EEC);
}

.accordion__item:not(.accordion__item_show) .accordion__header {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

@media screen and (min-width: 426px) {
  .accordion__title {
    margin-bottom: 36px;
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {

  .accordion__header {
    font-size: 20px;
  }

  .accordion__body p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {

  .accordion {
    max-width: 1280px;
  }

  .accordion__title {
    font-size: 45px;
    margin-bottom: 53px;
  }

  .accordion__item {
    margin-bottom: 25px;
  }

  .accordion__header {
    font-size: 24px;
    padding: 0 37px 0 53px;
  }

  .accordion__header::after {
    width: 40px;
    height: 40px;
  }

  .accordion__body {
    padding: 45px;
  }

  .accordion__body p {
    margin-top: 40px;
    font-size: 24px;
  }

}